.music {
  display: flex;
  flex-direction: column;

  &__preview {
    display: flex;
    width: 73px;
    height: 73px;
    flex-shrink: 0;
  }

  &__bot {
    display: flex;
    align-items: center;
    grid-gap: 18px;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
  }
}
