.video {
  &__preview {
    position: relative;
    display: flex;

  }

  &__duration,
  &__resolution {
    position: absolute;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    line-height: 16px;
    color: var(--color-white);
  }

  &__resolution {
    padding: 4px 8px;
    left: 10px;
    top: 10px;
  }

  &__duration {
    padding: 4px 6px;
    right: 10px;
    bottom: 10px;
  }


  &__bottom {
    display: flex;
    align-items: center;
    grid-gap: 18px;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray-mid);
  }
}
