<header class="header">
  <div class="container">
    <div class="header__wrapp">
      <a class="header__logo" href="/">
        <svg width='250' height='40'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <div class="header__mid">
        <form class="header__search search">
          <label class="search__label">
            <input class="search__input" type="search" placeholder="Поиск файлов">

            <button class="search__btn">
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#search-icon'></use>
              </svg>
              <span>Найти</span>
            </button>
          </label>
        </form>

        <a class="header__add btn" href="/add-file.html">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#add-icon'></use>
          </svg>
          <span>Добавить файл</span>
        </a>
      </div>

      <div class="user">
        <a class="user__link" href="/user-files.html">
          <!-- user unlogin icon -->
          <div class="user__icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#user-unlogin'></use>
            </svg>
          </div>

          <!-- user login icon -->
          <!-- <div class="user__icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#user-login'></use>
            </svg>
          </div> -->
        </a>
      </div>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mobile">
      </div>
    </div>
  </div>
</header>
