.sorting {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;

  // &__18plus {
  //   input {
  //     position: absolute;
  //     inset: 0;
  //     opacity: 0;
  //     visibility: hidden;

  //     &:checked ~ span::before {
  //       border: 2px solid var(--color-pink);
  //     }

  //     &:checked ~ span::after {
  //       opacity: 1;
  //       visibility: visible;
  //     }
  //   }

  //   span {
  //     position: relative;
  //     padding-left: 30px;
  //     font-size: 14px;
  //     line-height: 17px;
  //     color: var(--color-gray-mid);
  //     cursor: pointer;

  //     &::before {
  //       content: '';
  //       position: absolute;
  //       left: 0;
  //       top: -2px;
  //       width: 20px;
  //       height: 20px;
  //       border: 2px solid #CCC;
  //       transition: all 0.4s ease;
  //     }

  //     &::after {
  //       content: '';
  //       position: absolute;
  //       background-image: var(--checked-icon);
  //       background-size: cover;
  //       background-repeat: no-repeat;
  //       width: 20px;
  //       height: 20px;
  //       left: 0;
  //       opacity: 0;
  //       visibility: hidden;
  //       transition: all 0.4s ease;
  //     }
  //   }
  // }

  &__counts {
    color: var(--color-gray-mid);
    font-weight: 700;

    span {
      color: var(--color-black);
    }
  }
}
