h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}


